*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

/* ====HEADER==== */
header{
    display: flex;
    padding: 3rem 0;
    justify-content: space-around;
}

.logo-container{
    display: flex;
}

.menu-desktop{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 40%;
}

.menu-desktop a{
    text-decoration: none;
}


/* ====SECTION-1==== */
.section-1{
    display: flex;
    align-items: center;
    min-height: 80vh;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.main-text h1{
    font-size: 3rem;
    background: linear-gradient(to right, #494964, #6f6f89);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-text span{
    font-size: 1.1rem;
}

.introduction-container{
    flex: 1;
}

.introduction-container button{
    margin-top: 3.6rem;
    padding: 0.5rem 2rem;
    border: 2px solid #c36cbb;
    cursor: pointer;
}

button.select-button{
    color: #c36cbb;
    background-color: white;
}

button.cart-button{
    margin-left: 2rem;
    background-color: #c36cbb;
    color: white;
}

.notebook-container{
    flex: 1;
}


.product-img{
    animation: drop 1.5s ease;
    height: 60vh;
}

.slide-buttons{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 26%;
    
}

/* Circles background */
.big-circle{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
}

.medium-circle{
    position: absolute;
    top: 40%;
    right: 30%;
    opacity: 0.4;
    z-index: -1;
}

.small-circle{
    position: absolute;
    bottom: 0%;
    left: 20%;
    opacity: 0.7;
    z-index: -1;
}


/* ====ANIMATIONS==== */
@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px); /*It starts a little bit higher */
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


/* ====MEDIA QUERIES==== */
@media screen and (max-width: 1024px){
    .section-1{
        flex-direction: column;
        text-align: center;
    }

    .introduction-container{
        margin-top: 5vh;
    }

    .slide-buttons{
        width: 50%;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 630px){
    .product-img{
        height: 45vh;
    }
}








